.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-search{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6666bd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 0 5px 0 #000;
}
.header-search__title{
  color: white;
  font-size: 16px;
}
.header-search__input-search{
  display: flex;
  align-items: center;
}
.header-search__input{
  margin-left: 20px;
  width: 400px;
}
.header-search__button{
  height: 20px;
  margin-left: 5px;
  height: 25px;
  width: 90px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-color: #1890ff;
  color: #fff;
  cursor: pointer;
}
.header-search__select{
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 5px;
  border: none;
}
.app-body{
  position: absolute;
  top: 40px;
  background-color: #ccc;
  width: 100%;
}
.app-body__item{
  background-color: #fff;
  min-height: 100px;
  width: 30%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px #aeaeae;
}
.app-body__item--image{
  width: 80px;
  height: 80px;
}
.app-body__item--des{
  margin-left: 5px;
  width: 100%;
  text-align: justify;
}
.no-item{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 250px);
  background-color: #4444fd;
  color: white;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 5px 5px #e0a5a5;
}